<%- include("partials/head.ejs") -%>

    <div class="jumbotron">
        <h1 class="display-4 "><%=heading%></h1>
        <hr class="my-4">
        <p><%=content%></p>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="#">Share</a>
            </li>
          </ul>
      </div>

<%- include("partials/foot.ejs") -%>